<script>
  $(function () {

    var breakdown = {{ breakdown.to_json( labels=descriptions['functional'] )|safe }},
        getBreakdownValue = getBreakdownValueFunction('expense', '{{ latest_budget.name()|safe }}'),
        gridData = breakdownToTable(breakdown),
        myGrid;


    // Set tax receipt taxes values
    TaxReceipt.taxes.house.values        = [179.72, 392.58, 165.14, 274.28, 534.18];
    TaxReceipt.taxes.vehicle.values      = [0, 7.7, 45.1, 99, 52.8];
    TaxReceipt.taxes.vehicleExtra.values = [0, 7.7, 45.1, 99, 52.8];
    TaxReceipt.taxes.garbage.values      = [59, 41, 41];
    TaxReceipt.taxes.parking.values      = [0, 61.7, 67.9, 74.1];

    // Override redrawGrid method
    TaxReceipt.redrawGrid = function() {
      if ( myGrid !== undefined ) {
        myGrid.destroy();
      }

      myGrid = createBudgetGrid('#myGrid', gridData, [
        { data: 'label', title: '{{ _("Política") }}', render: getPolicyLinkFormatter() },
        {
          data:   getBreakdownValue,
          title:  '{{ _("Gasto") }}',
          render: TaxReceipt.calculatePersonalTax,
          year:   breakdown.years['{{ latest_budget.name()|safe }}']
        }
      ]);
    };

    // Initialize tax receipt
    TaxReceipt.setup( breakdown, getBreakdownValue );

  });
</script>